@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
      ul, ol {
        list-style: revert;
      }

      h1{
        font-size: revert;
      }
    }

.event-box a{
    @apply   w-1/3 sm:w-full inline-block rounded sm:px-4 py-2 sm:py-2 sm:mt-3 mt-4 overflow-clip;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

#m img {
    max-width: none;
}

input[type=file] {
widh: 100%;
mx-width: 100%;
color: #444;
padding: 5px;
background: #fff;
border-radius: 6px;
bordr: 1px solid blue;
}

input[type=file]::file-selector-button {
margin-right: 20px;
border: none;
background: #084cdf;
padding: 4px 20px;
border-radius: 6px;
color: #fff;
cursor: pointer;
transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
background: #0d45a5;
}

.homepage-box{
    @apply w-full mx-auto p-2 sm:p-4 rounded-2xl border border-white bg-sky-200;
}

.homepage-inner-box{
    @apply rounded-xl text-white  text-lg sm:text-4xl text-center font-black  p-5;
}

.homepage-inner-box--orange {
    @apply bg-gradient-to-b from-orange-400 to-orange-600;
  }

  .homepage-inner-box--gray {
    @apply bg-gradient-to-b from-gray-500 to-gray-700;
  }

  .graddient-gray-500-700 {
    @apply bg-gradient-to-b from-gray-500 to-gray-700;
  }



